body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'Open Sans', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobileSearchField {
    background-color: white;
    outline: none;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    margin: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 6em center;
    background-image: url('/iconfinder.png');
}

.mainNavSearchField {
    background-color: white;
    outline: none;
    border: 0;
    padding: 0px;
    width: 110%;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 0.6em center;
    padding-left: 67px;
    background-image: url('/iconfinder.png');
    margin-left: 7%
}

.mainNavSearchField::placeholder, .mobileSearchField::placeholder {
    color: #616161;
}

.mainNavSearchField:-ms-input-placeholder, .mobileSearchField:-ms-input-placeholder {
    color: #616161;
}

.mainNavSearchField::-webkit-input-placeholder, .mobileSearchField::-webkit-input-placeholder {
    color: #616161;
}

.desktopNav {
    margin-bottom: 30px !important;
}

.desktopNav .right a {
    font-weight: 700;
}


.ugTextTransform {
	text-transform: none !important;
}

.ugFrontPageLocationText {
    font-weight: 300 !important;
    font-size: 12px;
}

.logoFont {
	font-family: 'Bebas Neue', cursive;
}

.myLogo {
	font-size: 1.5em;
    font-weight: 700;
}

.nav-wrapper {
	margin-left: 20px;
}

.sidenav.desktop {
    top: 84px !important;
    box-shadow: none !important;
    overflow-y: hidden !important;
}

.sidenav.desktop li {
    border: none !important;
}

.sidenav.desktop li.active {
    background-color: #e0f2f1 !important;
}

.sidenav.desktop li.active a, .sidenav.desktop li.active i {
    color: #009688 !important;
}

.sidenav.desktop li>a>i, .sidenav.desktop li>a>[class^="mdi-"], .sidenav.desktop li>a li>a>[class*="mdi-"], .sidenav.desktop li>a>i.material-icons {
    float: left;
    height: 48px !important;
    line-height: 48px !important;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);
    font-size: 16px !important;
}

.sidenav.desktop:hover {
    overflow-y: scroll !important;
}

.ugInputField {
	display: block;
    position: relative;
    line-height: 1.7em;
    white-space: nowrap;
    padding: 1.2em;
    border: 0;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 -1px 1px rgba(0,0,0,0.05);
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: all ease 0.3s;
    font-size: .8em;
	width: 100% !important;
    background-color: white;
    margin: 5px 0;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-size: 1.6em;
    background-position: left 0.6em center;
    padding-left: 2.5em;
    background-image: url('/iconfinder.png');
}

.weather_input_field {
	display: block;
    position: relative;
    line-height: 1.7em;
    white-space: nowrap;
    padding: 1.5em;
    border: 0;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 -1px 1px rgba(0,0,0,0.05);
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: all ease 0.3s;
    font-size: .8em;
	width: 100% !important;
    background-color: white;
}

.nav_input_field {
    display: block;
    position: relative;
    line-height: 1.2em;
    white-space: nowrap;
    padding: 1em;
    border: 0;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 -1px 1px rgba(0,0,0,0.05);
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: all ease 0.3s;
    font-size: .8em;
	width: 720px !important;
	margin-top: 13px;
	margin-left: 56px;
	background-repeat: no-repeat;
    background-size: 1.6em;
    background-position: left 0.6em center;
    padding-left: 2.5em;
    background-image: url('/iconfinder.png');
    background-color: #fafafa;
}
.nav_input_field:active, .nav_input_field:focus, .nav_input_field:hover {
    background-color: white;
}

.nav_input_field::-webkit-input-placeholder, .weather_input_field::-webkit-input-placeholder, .ugInputField::-webkit-input-placeholder { /* Edge */
    color: #424242;
}

.nav_input_field:-ms-input-placeholder, .weather_input_field:-ms-input-placeholder, .ugInputField:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #424242;
}

.nav_input_field::placeholder, .weather_input_field::placeholder, .ugInputField::placeholder {
    color: #424242;
}

.search_icon_container {
	position: relative;
	margin-left: 15px;
	margin-right: 0px;
}

.submitSearchBtn {
	position: absolute; 
	left: -9999px; 
	width: 1px; 
	height: 1px;
}

.ugH li {
	display: inline-block;
}

.ugBigFont {
	font-size: 1.25rem;
}

.ugMediumFont {
    font-size: 1rem;
}

.firstArticleDesktopCard {
    border: 1px solid lightgrey;
    border-radius: 8px !important;
    padding: 0 !important;
}

.firstArticleDesktopCard .card-content {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.firstArticleDesktop ul:not(.browser-default)>li {
    list-style-type: circle !important;
}

.firstArticleDesktop ul {
    padding-left: 20px !important;
}

.ugTitleSmall {
    font-size: .9rem;
}

.ugTitle {
    font-size: 1.125rem;
}

.ugmyTitle {
    font-size: 2.6em;
    font-weight: 400;
    line-height: 1.15em;
    margin: 0 0 .5em;
}

.ugTitleMobile {
	font-size: 1rem;
}

.ugCard {
	border: 1px solid lightgrey;
	border-radius: 8px !important;
}

.weatherCard, .desktopWeatherCard {
	border: 1px solid lightgrey;
	border-radius: 8px !important;
}

.ugMobileCard {
	border-bottom: 1px solid lightgrey;
}

.ugMoreLinks li {
    margin-bottom: 9px;
}

.ugMoreLinks li i {
    font-size: 13px !important;
}

.ugCard .card-content, .weatherCard .card-content {
	padding: 16px !important;
}

.desktopWeatherCard .card-content {
	padding: 0 !important;
}

.ugMobileCard .card-content, .ugDetailsCard .card-content {
	padding: 16px 10px 10px 10px !important;
}

.ugMobileCard .card-content .row, .ugDetailsCard .card-content .row {
	margin-bottom: 0px !important;
}

.titleCardSamePadding {
	margin-left: 20px !important;
}

.searchTitlePadding {
	margin-left: 20px !important;
}

.ugCardLink:hover {
	text-decoration: underline;
}

.ugPadding {
	padding: 10px;
}

.ugTabs {
	padding-top: 5px;
	height: 55px !important;
}

.ugTabs li {
	margin: 6px !important;
}

.ugTabs .btn {
	text-transform: none;
	padding: 5px !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 -1px 1px rgba(0,0,0,0.05);
	line-height: 25px;
	height: 35px !important;
}

.ugArticleDetailsBtn {
    text-transform: none !important;
    padding: 5px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 -1px 1px rgba(0,0,0,0.05) !important;
    line-height: 25px !important;
    height: 35px !important;
    white-space: nowrap !important;
}

.ugTabs .btn:active {

}

.cardImage {
	border-radius: 8px;
	margin-bottom: 15px !important;
}

.cardImageMobile {
	border-radius: 8px;
}

.trendsPanel {
	padding-top: 10px !important;
	border-radius: 8px !important;
}

.chip {
	background-color: white !important;
}

.frontPageDivider {
	height: 5px !important;
}

.textContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weatherNav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px;
    transition: width 0.1s linear;
}

.weatherNav .closebtn {
    text-decoration: underline;
    display: inline;
    transition: 0.3s;
    margin-left: 5px;
}

.weatherNav .closebtn:hover{
    color: #f1f1f1;
}

.weatherNav .closebtn {
    position: absolute;
    top: 13px;
    left: 5px;
}

.weather-details-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: white;
	display: none;
}

.sidenav li {
	border-bottom: 1px solid lightgrey !important;
}

a.btn.disabled, a.btn.disabled:active, a.btn.disabled:focus {
	background-color: #00796b !important;
	color: white !important;
}

.tab a i {
	font-size: 13px !important;
}

#search_box {
    position: fixed;
    z-index: 2;
    width: 100%;
}

table {
    width: 100% !important;
}

.ugIconBan {
    width: 10% !important;
}

.ugStartCommentBtn {
    text-transform: none !important;
    white-space: nowrap;
    border: 1px solid lightgrey !important;
    border-radius: 22px !important;
    color: #00796b !important;
}

.ugStartCommentBtn:hover {
    color: white !important;
    background-color: #00796b !important;
}

.ugCommentName {
    width: 100%;
    padding: 12px;
    margin: 3px 0 0px 0 !important;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.ugCommentBox {
    width: 100%;
    padding: 12px;
    height: 100px;
    margin: 8px 0px 0 0 !important;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

.ugSubmitComment {
    width: 100%;
    margin-top: 5px;
    text-transform: none !important;
    white-space: nowrap;
    border-radius: 22px !important;
}

.ugCancelComment {
    text-transform: none !important;
    white-space: nowrap;
    border: 1px solid lightgrey !important;
    border-radius: 22px !important;
    color: #00796b !important;
    width: 100%;
    margin-top: 5px;
}

.collection {
    border: none !important;
}

.collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
    font-style: normal !important;
}

.collection .title {
    font-size: 14px !important;
}

.collection p {
    font-size: 16px !important;
}


@media only screen and (max-width: 1024px) {
	.nav_input_field {
		width: 500px !important;
	}
    .myLogo {
        font-size: 1.2em;
        font-weight: 800 !important;
    }
}

@media only screen and (max-width: 414px) {

	.cover {
		 object-fit: cover;
		 margin: 0 auto; 
		 max-height: 100%; 
		 max-width: 100%;
		 height: 100px !important;
		 width: 100% !important;
		 margin: 1.0933333333rem 0 .656rem 0;
	}
}

@media only screen and (max-width: 375px) {
	nav ul a {
		padding: 0 12px !important;
	}
}

@media only screen and (max-width: 320px) {

	nav ul a {
		padding: 0 10px !important;
	}
}
